@charset "utf-8";
body {
    background-color: #251110;
    margin: 0rem;
    padding: 0rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    background-image: url("./images/chu1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0, 2);
    padding: 0rem 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: myraid pro regular;
    color: #5050dd;
    font-size: 15px;
    font-weight: 700;
}

.logo {
    font-family: RoadTest;
    color: #ffffff;
    font-size: 23px;
}

.active {
    font-weight: bold;
    color: #babac7;
}

.text-container p:nth-child(1) {
    font-family: Calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2) {
    font-family: Calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #201100;
    font-size: 50px;
}

.text-container p:nth-child(3) {
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p {
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text-container button {
    width: 9rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: Cambria;
    outline: none;
    margin: 0px 10px;
}

.hire-btn {
    border: 2px solid #373737;
    color: #373737;
}

.download-cv {
    background-color: #0b34ff;
    color: #fff;
    border: none;
}

button:active {
    transform: scale(1.1);
}

.model {
    height: 31.6rem;
    position: absolute;
    bottom: 40px;
    left: 70%;
    transform: translateX(-70%);
}

.about-container {
    width: 80%;
    height: 330px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7 auto 20px auto;
    position: relative;
}